
// Setup Material  
@use '@angular/material' as mat;

// Include core styles (required)
@include mat.core();

// Define a light theme
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500),
      accent: mat.m2-define-palette(mat.$m2-pink-palette, A200),
      tertiary: mat.m2-define-palette(mat.$m2-indigo-palette, 300),
      warn: mat.m2-define-palette(mat.$m2-red-palette),
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Define a dark theme
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500),
      accent: mat.m2-define-palette(mat.$m2-pink-palette, A200),
      tertiary: mat.m2-define-palette(mat.$m2-indigo-palette, 300),
      warn: mat.m2-define-palette(mat.$m2-red-palette),
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Apply the light theme by default
@include mat.all-component-themes($light-theme);

// Apply the dark theme when the `.dark-theme` class is added to the body
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

// Setup Core Stuff.

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-style: italic;
  font-size: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  margin: 20px;
  line-height: 1.6;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.description {
  color: #555;
  margin-bottom: 1.5em;
}
