.profile-card {
    background: var(--mat-toolbar-container-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .profile-card h2 {
        font-size: 1.5em;
        margin-bottom: 15px;        
    }


button {    
    font-size: 1.3em;
    display: block;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50%;
    border-radius: 15px;
    border: 2px;
    border-style: outset;
    transform: translateX(-200px);
}

    button:disabled {
        //background-color: lightgray;
        //color: white;
    }



